<!--
Used In File(s): \code\game\modules\research\xenoarcheology\machinery\artifact_modifier.dm
-->



<h3>Artifact Modifier</h3>

{{if data.hasArtifact}}
<div class="item">
	<div class="itemLabel">
		Artifact
	</div>
	<div class="itemContent">
		<span class="good">{{:data.artifactID}}</span>		
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Anomaly Charges
	</div>
	<div class="itemContent">
		{{:data.storedCharges}}	
	</div>
</div>

{{if data.hasEffect}}
<div class="item">
	<div class="itemLabel">
		Pulse Energy Signals
	</div>
	<div class="itemContent">
		{{:helper.link("Positive", null, {'switchType': '1'}, !data.isModifying && !data.modifyParameter ? null : 'selected')}}
		{{:helper.link("Negative", null, {'switchType': '0'}, !data.isModifying && data.modifyParameter ? null : 'selected')}}
		<br> <br>
		{{:helper.link("Kappa", "radiation", {'modifyEffect': '1'}, data.isModifying ? 'disabled' : null)}} 	
		{{:helper.link("Beta", "radiation", {'modifyEffect': '2'}, data.isModifying ? 'disabled' : null)}}			
		{{:helper.link("Gamma", "radiation", {'modifyEffect': '3'}, data.isModifying ? 'disabled' : null)}}		
		{{:helper.link("Sigma", "radiation", {'modifyEffect': '4'}, data.isModifying ? 'disabled' : null)}}		
		{{:helper.link("Delta", "radiation", {'modifyEffect': '5'}, data.isModifying ? 'disabled' : null)}}		
		{{:helper.link("Alpha", "radiation", {'modifyEffect': '6'}, data.isModifying ? 'disabled' : null)}}		
		{{:helper.link("Epsilon", "radiation", {'modifyEffect': '7'}, data.isModifying ? 'disabled' : null)}}	
		{{:helper.link("Omega", "radiation", {'modifyEffect': '8'}, data.isModifying ? 'disabled' : null)}}		
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Progress
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.progress, 0, 100)}} <br>
	</div>
</div>

<div class="item">
	<div class="itemContent">
		{{:helper.link("Release Effect", null, {'releaseEffect': '1'})}}	<br>
	</div>
</div>

{{else}}

<div class="item">
	<div class="itemLabel">
		Energy Signatures
	</div>
	<div class="itemContent">
		{{:helper.link("Dominant Energy Signature", null, {'selectEffect': '1'})}} <br>
		{{if data.hasSecondaryEffect}}
		{{:helper.link("Lesser Energy Signature", null, {'selectEffect': '2'})}} <br>
		{{/if}} 
	</div>
</div>

{{/if}}


<div class="item">
	<div class="itemContent">
		{{:helper.link("Release Artifact", null, {'releaseArtifact': '1'})}}	<br>
	</div>
</div>

{{else}}

<div class="item">
	<div class="itemLabel">
		Artifact
	</div>
	<div class="itemContent">
		<span class="bad">NOT FOUND</span>	
		<br>
		{{:helper.link("Locate Artifact", null, {'findArtifact': '1'}, data.hasScanner  ? null : 'disabled')}}
	</div>
</div>
		
{{/if}}

